Check/Assert Result is error based on enumeration type - https://stackoverflow.com/questions/53124930/how-do-you-test-for-a-specific-rust-error/53124931#53124931
